<!--=== Registre ===-->
<div class="log-reg-v3 margin-bottom-30">
  <div class="container">
    <div class="row">
      <div class="col-md-7 md-margin-bottom-50">
        <h2 class="welcome-title">Welcome to Unify</h2>
        <p>Suspendisse et tincidunt ipsum, et dignissim urna. Vestibulum nisl tortor, gravida at magna et, suscipit vehicula massa.</p><br>
        <div class="row margin-bottom-50">
          <div class="col-sm-4 md-margin-bottom-20">
            <div class="site-statistics">
              <span>20,039</span>
              <small>Products</small>
            </div>
          </div>
          <div class="col-sm-4 md-margin-bottom-20">
            <div class="site-statistics">
              <span>54,283</span>
              <small>Reviews</small>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="site-statistics">
              <span>376k</span>
              <small>Sale</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-5">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'log-reg-block sky-form'}) do |f| %>

            <h2>Create New Account</h2>

            <div class="login-input reg-input">
              <section>
                <%= f.label :username, class: 'input' do %>
                    <%= f.text_field :username, class: 'form-control', placeholder: 'Логин' %>
                <% end %>
              </section>
              <section>
                <%= f.label :email, class: 'input' do %>
                    <%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>
                <% end %>
              </section>
              <section>
                <%= f.label :password, class: 'input' do %>
                    <%= f.password_field :password, autocomplete: 'off', class: 'form-control', placeholder: 'Пароль' %>
                <% end %>
              </section>
              <section>
                <%= f.label :password_confirmation, class: 'input' do %>
                    <%= f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control', placeholder: 'Повторите пароль' %>
                <% end %>
              </section>
            </div>

            <label class="checkbox margin-bottom-10">
              <input type="checkbox" name="checkbox"/>
              <i></i>
              Subscribe to our newsletter to get the latest offers
            </label>
            <label class="checkbox margin-bottom-20">
              <input type="checkbox" name="checkbox"/>
              <i></i>
              I have read agreed with the <a href="#">terms &amp; conditions</a>
            </label>
            <button class="btn-u btn-u-sea-shop btn-block margin-bottom-20" type="submit">Create Account</button>
        <% end %>

        <div class="margin-bottom-20"></div>
        <%= render "devise/shared/links" %>
      </div>
    </div><!--/end row-->
  </div><!--/end container-->
</div>
<!--=== End Registre ===-->
