<!--=== Header v5 ===-->
<div class="header-v5 header-static">
  <!-- Topbar v3 -->
  <div class="topbar-v3">
    <div class="search-open">
      <div class="container">
        <input type="text" class="form-control" placeholder="Search">
        <div class="search-close"><i class="icon-close"></i></div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-6">

        </div>
        <div class="col-sm-6">
          <ul class="list-inline right-topbar pull-right">
            <% if user_signed_in? %>

              <li>
                <%= link_to("Профиль (#{current_user.username})", profile_path) %> |
                <%= link_to('Выход', destroy_user_session_path, :method => :delete) %>
              </li>
            <% else %>
              <li>
                <%= link_to('Регистрация', new_user_registration_path)  %> |
                <%= link_to('Вход', new_user_session_path)  %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div><!--/container-->
  </div>
  <!-- End Topbar v3 -->

  <!-- Navbar -->
  <div class="navbar navbar-default mega-menu" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to(image_tag('logo.jpg', class: '', style: 'width: 110px;'), root_path, class: 'navbar-brand') %>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-responsive-collapse">
        <!-- Nav Menu -->
        <ul class="nav navbar-nav">
          <!-- Pages -->
          <li>
            <%= link_to 'Главная', root_path %>
          </li>
          <li>
            <%= link_to 'Серии', series_index_path %>
          </li>
          <!-- Main Demo -->
        </ul>
        <!-- End Nav Menu -->
      </div>
    </div>
  </div>
  <!-- End Navbar -->
</div>
<!--=== End Header v5 ===-->