<!--=== Login ===-->
<div class="log-reg-v3">

  <div class="row">
    <div class="col-md-7 md-margin-bottom-50">
      <h2 class="welcome-title">Welcome to Unify</h2>
      <p>Suspendisse et tincidunt ipsum, et dignissim urna. Vestibulum nisl tortor, gravida at magna et, suscipit vehicula massa.</p><br>
      <div class="info-block-v2">
        <i class="icon icon-layers"></i>
        <div class="info-block-in">
          <h3>Pellentesque vulputate</h3>
          <p>Vestibulum non ex volutpat, sodales diam sit amet, semper nunc. Integer sed nibh commodo, tincidunt nisi.</p>
        </div>
      </div>
      <div class="info-block-v2">
        <i class="icon icon-settings"></i>
        <div class="info-block-in">
          <h3>Curabitur tincidunt</h3>
          <p>Vestibulum non ex volutpat, sodales diam sit amet, semper nunc. Integer sed nibh commodo, tincidunt nisi.</p>
        </div>
      </div>
      <div class="info-block-v2">
        <i class="icon icon-paper-plane"></i>
        <div class="info-block-in">
          <h3>Aenean condimentum</h3>
          <p>Vestibulum non ex volutpat, sodales diam sit amet, semper nunc. Integer sed nibh commodo, tincidunt nisi.</p>
        </div>
      </div>
    </div>

    <div class="col-md-5">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'log-reg-block sky-form'}) do |f| %>
          <h2>Log in to your account</h2>

          <section>
            <%= f.label :login, class: 'input login-input' do %>
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-user"></i></span>
                  <%= f.text_field :login, class: 'form-control', placeholder: 'Логин' %>
                </div>
            <% end %>
          </section>

          <section>
            <%= f.label :password, class: 'input login-input no-border-top' do %>
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                  <%= f.password_field :password, class: 'form-control', placeholder: 'Пароль' %>
                </div>
            <% end %>
          </section>

          <div class="row margin-bottom-5">

            <% if devise_mapping.rememberable? -%>
                <div class="col-xs-6">
                  <%= f.label :remember_me, class: 'checkbox' do %>
                      <%= f.check_box :remember_me %>
                      <i></i>
                      Запомнить
                  <% end %>
                </div>
            <% end -%>
            <div class="col-xs-6 text-right">
              <a href="#">Forget your Password?</a>
            </div>
          </div>
          <button class="btn-u btn-u-sea-shop btn-block margin-bottom-20" type="submit">Log in</button>

          <div class="border-wings">
            <span>or</span>
          </div>

          <div class="row columns-space-removes">
            <div class="col-lg-6 margin-bottom-10">
              <button type="button" class="btn-u btn-u-md btn-u-fb btn-block"><i class="fa fa-facebook"></i> Facebook Log In</button>
            </div>
            <div class="col-lg-6">
              <button type="button" class="btn-u btn-u-md btn-u-tw btn-block"><i class="fa fa-twitter"></i> Twitter Log In</button>
            </div>
          </div>
      <% end %>

      <div class="margin-bottom-20"></div>
      <p class="text-center">Don't have account yet? Learn more and <a href="shop-ui-register.html">Sign Up</a></p>
    </div>
  </div><!--/end row-->

</div>
<!--=== End Login ===-->
