<!--=== Content Part ===-->

<div class="row">
  <div class="col-md-3 filter-by-block md-margin-bottom-60">
    <h1>Filter By</h1>
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
              Brands
              <i class="fa fa-angle-down"></i>
            </a>
          </h2>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
          <div class="panel-body">
            <ul class="list-unstyled checkbox-list">
              <li>
                <label class="checkbox">
                  <input type="checkbox" name="checkbox" checked />
                  <i></i>
                  Calvin Klein
                  <small><a href="#">(23)</a></small>
                </label>
              </li>
              <li>
                <label class="checkbox">
                  <input type="checkbox" name="checkbox" checked />
                  <i></i>
                  Gucci
                  <small><a href="#">(4)</a></small>
                </label>
              </li>
              <li>
                <label class="checkbox">
                  <input type="checkbox" name="checkbox" />
                  <i></i>
                  Adidas
                  <small><a href="#">(11)</a></small>
                </label>
              </li>
              <li>
                <label class="checkbox">
                  <input type="checkbox" name="checkbox" />
                  <i></i>
                  Puma
                  <small><a href="#">(3)</a></small>
                </label>
              </li>
              <li>
                <label class="checkbox">
                  <input type="checkbox" name="checkbox" />
                  <i></i>
                  Zara
                  <small><a href="#">(87)</a></small>
                </label>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div><!--/end panel group-->

  </div>

  <div class="col-md-9">
    <div class="row margin-bottom-5">
      <div class="col-sm-12">

        <h3>Серия :</h3>
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <%= @series.series_name %> <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <% @all_series.each do |series| %>
                <li>
                  <%= link_to(series.series_name, series) %>
                </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div><!--/end result category-->
    <% i = 1 %>
    <div class="filter-results">

      <% @coins.each_slice(3) do |coin| %>
          <div class="row illustration-v2 margin-bottom-30">
            <% coin.each do |c| %>
                <div class="col-md-4">
                  <div class="product-img product-img-brd">
                    <a href="#">
                      <%= image_tag(c.revers.preview.url, class: 'text-center', style: 'display: block; margin: 0 auto;') %>
                    </a>
                    <a class="add-to-cart" href="#"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                  </div>
                  <div class="product-description product-description-brd margin-bottom-30">
                    <div class="overflow-h margin-bottom-5">
                      <div class="pull-left">
                        <h4 class="title-price">
                          <a href="shop-ui-inner.html">
                            <%= c.coin_name %>
                          </a>
                        </h4>
                      </div>
                    </div>
                    <ul class="list-inline product-ratings">
                      <li><i class="rating-selected fa fa-star"></i></li>
                      <li><i class="rating-selected fa fa-star"></i></li>
                      <li><i class="rating-selected fa fa-star"></i></li>
                      <li><i class="rating fa fa-star"></i></li>
                      <li><i class="rating fa fa-star"></i></li>
                      <li class="like-icon"><a data-original-title="Add to wishlist" data-toggle="tooltip" data-placement="left" class="tooltips" href="#"><i class="fa fa-heart"></i></a></li>
                    </ul>
                  </div>
                </div>
            <% end %>
          </div>
      <% end %>

    </div><!--/end filter resilts-->

    <div class="text-center">
      <%= paginate @coins %>
    </div><!--/end pagination-->
  </div>
</div><!--/end row-->

<!--=== End Content Part ===-->

