<!DOCTYPE html>
<html>
  <head>
    <title>DevMyCoinsSu</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
  </head>

  <body class="header-fixed">

    <div class="wrapper">
      <%= render('partials/top_menu') %>
      <!--=== Breadcrumbs v4 ===-->
      <div class="breadcrumbs-v4">
        <div class="container">
          <span class="page-name">Log In</span>
          <h1>Maecenas <span class="shop-green">enim</span> sapien</h1>

          <ul class="breadcrumb-v4-in">
            <%= render_breadcrumbs :tag => :li, :separator => '' %>
          </ul>
        </div><!--/end container-->
      </div>
      <!--=== End Breadcrumbs v4 ===-->
      <div class="container content-md">
        <%= yield %>
      </div>
      <%= render('partials/footer') %>
    </div>
  </body>
</html>
