<!DOCTYPE html>
<html>
<head>
  <title>DevMyCoinsSu</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= favicon_link_tag 'favicon.png' %>
</head>

<body class="header-fixed">

<div class="wrapper">
  <%= render('partials/top_menu') %>
  <!--=== Collection Banner ===-->
  <div class="collection-banner margin-bottom-60">
    <div class="container">
      <div class="col-md-7 md-margin-bottom-50">
        <h2>Makeup collection</h2>
        <p>Duis in posuere risus. Vivamus sed dignissim tellus. In vehicula justo tempor commodo. <br> Nunc lobortis dapibus neque quis lacinia</p><br>
        <a href="#" class="btn-u btn-brd btn-brd-hover btn-u-light">Shop Now</a>
      </div>
      <div class="col-md-5">
        <div class="overflow-h">
          <span class="percent-numb">50</span>
          <div class="percent-off">
            <span class="discount-percent">%</span>
            <span class="discount-off">off</span>
          </div>
          <div class="new-offers shop-bg-green rounded-x">
            <p>new</p>
            <span>Products</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--=== End Collection Banner ===-->
  <%= yield %>
  <%= render('partials/footer') %>
</div>
</body>
</html>
